#layout-container{
  background-color: #001933;
  min-height: 100vh;
  position: absolute;
  width: 100%;
  height: 100%;
}

.side{
  position: relative;
  left: 0;
  top: 0;
  position: fixed;
  height: 100%;
}

.content{
  margin-left: 75px;
  height: 100%;
}
